<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:leaf="http://java.sun.com/jsf/composite/jsf2leaf">

    <ui:define name="head">
        <script type="text/javascript">
            
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#00acac', '#3e96e7'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#EEEEEE',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#212121'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <center>
            <div class="card card-w-title" >

                <h:form prependId="false" id="frmMain">
                    <p:panel header="Información" id="pnlInformacion">
                        <br></br>
                        <br></br>
                        <p:outputLabel value="#{componenteMB.mensaje}" 
                                       style="font-weight: bolder; color: #{componenteMB.color}"/>
                        <br></br>
                        <br></br>
                        <f:facet name="footer">
                            <br></br>
                            <center>
                                <p:commandButton value="Apagar"
                                                 actionListener="#{componenteMB.apagar()}"
                                                 update="pnlInformacion"/>
                                <p:spacer width="10" />
                                <p:commandButton value="Acelerar" 
                                                 actionListener="#{componenteMB.acelerar()}"
                                                 update="pnlInformacion"/>
                                <p:spacer width="10" />
                                <p:commandButton value="Iniciar" 
                                                 actionListener="#{componenteMB.iniciar()}"
                                                 update="pnlInformacion"/>
                            </center>
                            <br></br>
                        </f:facet>

                    </p:panel>
                </h:form>

            </div>
        </center>
    </ui:define>
</ui:composition>