<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer">
        <div class="card clearfix">
            <span class="footer-text-left">Tecnología de Objetos Aplicada al Desarrollo de Aplicaciones Distribuidas y de Tiempo Real 2020</span>
            <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>All Rights Reserved</span></span>
        </div>
    </div>
</ui:composition>