<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/poseidon">

    <div class="topbar clearfix">
        <div class="topbar-left">
            <h3>Componentes JSF</h3>
        </div>

        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i class="fa fa-angle-left"></i>

            </a>

            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>

            </a>
            <ul class="topbar-items fadeInDown animated">

               

            </ul>
        </div>
    </div>

</ui:composition>